{{!-- <div class="postBoxContainer">
    <a href="/post/{{id}}">
        <header>{{user_name}}</header>
    </a>
</div> --}}

        <div class="postBoxContainer">
            <div class="postBox card">
                <div class="userBox">
                    <h4 class="userName">{{user.user_name}}:</h4>
                </div>
                <div class="card post1" >
                    <h2 id="postTitle">{{title}}</h2>
                    <h4 id="postContent">{{content}}</h4>
                </div>

                <div class="postBtn">
                    <button class = "supply_list Btn" type = "submit">Comment</button>
                </div>

            </div>
        </div>
        
        
